include README.rst
recursive-include llspy *.py
recursive-include llspy *.ui
recursive-include llspy *.ini
recursive-include llspy *.png
recursive-include img *

recursive-exclude tests *
recursive-exclude docs *
